body {
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
    color: #666666;
}
main {
    background-color: white;
    display: grid;
    grid-template-columns: 249px 1fr;
    gap: 30px;
    max-width: 680;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}
/* drill down method - all images inside of main
main img {
} */

img {
    display: block !important;
}

#cta img {
    width: 249px;  
}
#cta section {
    width: 360px;
}
#cta h1 {
    font-size: 2.2em;
    text-align: center;
    line-height: 1.1em;
    margin-bottom: 20px;
}
#cta p {
    text-align: center;
    line-height: 1.1em;
}
.text-input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.1em;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #666666;    
}
#cta label {
    font-size: 0.9em;
    /* hover over, gives finger icon to show you can point on it */
    cursor: pointer;
}
/* to make color a little darker, first letter in each RGB pair and reduce one letter/number */
.submit-button:hover {
    background-color: #d38958;
}
.submit-button {
    display: block;
    background-color: #e39968;
    color: white;
    font-size: 1.05em;
    font-weight: bold;
    padding: 13px 15px;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    margin: 20px auto;
    cursor: pointer;
    letter-spacing: 1px;
}
.right {
    float: right;
    font-weight: bold;
    font-size: 2em;
    /* to move farther to right (edge?), neg margin */
    margin-right: -25px;
}
/* "love hate" to remember order */
.right:link, .right:visited, .right:hover, .right:active {
    color: #666666;
    text-decoration: none;
}
.right:hover {
    color: #e39968;
}