@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Cabin+Condensed&family=Concert+One&family=Quicksand:wght@400;700&family=Sniglet&display=swap');

:root {
/* change the values below to your chosen font(s) */
--heading-font: "Averia Sans Libre";
--paragraph-font: Quicksand, sans-serif;

/* these colors below should be chosen from among your palette colors above */
--headline-color-on-white: #05347E;  /* headlines on a white background */ 
--headline-color-on-color: white; /* headlines on a colored background */ 
--paragraph-color-on-white: #05347E; /* paragraph text on a white background */ 
--paragraph-color-on-color: white; /* paragraph text on a colored background */ 
--paragraph-background-color: #05347E;
--nav-link-color:  white;
--nav-background-color: #CB4646;
--nav-hover-link-color: white;
--nav-hover-background-color: #05347E;
}
body {
    margin: 0;
    font: var(--paragraph-font);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
.colored {
    padding: 1em;
    text-align: left;
}











/* CONTACT US */
main {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    margin: 0 0 170px 0;
    font: var(--paragraph-font);
}
#feedback {
    justify-self: center;
    font: var(--paragraph-font);
}
form {
    /* Center the form on the page */
    grid-column: 2/3;
    margin: 0 auto;
    width: 100%;
    /* Form outline */
    padding: 1em;
    border: 5px solid #A9E3F6;
    /* border-radius: 1em; */
    font: var(--paragraph-font);
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 30px 0 30px 0;
    margin: 0 auto;
    width: 80%;
    font: var(--paragraph-font);
}
form li + li {
    margin-top: 1em;
}
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    font: var(--paragraph-font);
    /* text-align: right; */
    padding-bottom: 5px;
}
input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em var(--paragraph-font);
  
    /* Uniform text field size */
    width: 70%;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
    /* border-radius: .5em; */
}
input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
}
.button {
    /* Align buttons with the text fields */
    padding-left: 95px; 
    /* align-items: center; */
    width: 80%;
}
/* button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    /* margin-left: .5em; */
    /* border-radius: 1em; */

#feedback {
    /* background-color: antiquewhite; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
#title {
    grid-column: 2/3; 
    text-align: center;  
}
.moveDown {
    margin-top: 3em;
}










/* NAV BAR */
header {
    display: grid;
    grid-template-columns: 150px 4fr;
    gap: 12px;
    align-items: center;
    justify-content: space-around;
    background: #CB4646;
}
.nav_bar {
    display: flex;
    background-color: var(--nav-background-color);
    margin: 0;
    height: 100%;
}
#logo_link {
    display: flex;
    align-items: center;
    background: #CB4646;
}
.logo {
    width: 100%;
    grid-column: 1/2;
    padding-left: 5px;
}
.nav_options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 2em;
    text-decoration: none;
    font-family: var(--heading-font);
    box-sizing: border-box;
    text-align: center;
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
#first_aid_icon {
    padding-right: 8px;
    font-size: .9em;
}

/* Footer */
footer {
    background-color: #05347E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
footer h5 {
    color: white;
    font-size: 1.2em; 
}
#site_plan_link {
    text-decoration: none;
    color: white;
}
#contactus {
    text-decoration: none;
    color: white;
}
.socials {
    text-decoration: none;
    color: white;
    font-size: 3em;
}
#twitter {
    margin: 0 20px 0 20px;
}
/* First Aid Left Banner */
.first_aid {
    grid-column: 1/2;
    display: grid;
    justify-items: center;
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    /* margin: 5px 10px 0 0; */
}
.first_aid h2 {
    text-align: center;
    margin: 17px;
}
.epinephrine_images {
    display: flex;
}
.first_aid p {
    font-family: var(--paragraph-font);
    padding: 20px;
    margin: 0;
}
.first_aid h4 {
    background-color: #05347E;
    color: white;
    text-align: center;
    margin: 0;
}
#optional {
    padding: 10px;
}
li {
    font-family: var(--paragraph-font);
}
#other {
    font-weight: bold;
    padding: 0;
}
#optional_bullets {
    padding-right: 30px;
}
.epinephrine {
    width: 150px;
    padding: 0 5px 0 5px;
}

/* The side navigation menu */
#first_aid {
    /* margin-top: 20%; */
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }  
/* The navigation menu links */
#first_aid a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* Position and style the close button (top right corner) */
#close_button {
    grid-row: 1/2;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.about_me {
    transition: margin-left .5s;
    padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
#first_aid {padding-top: 15px;}
#first_aid a {font-size: 18px;}
}