@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Cabin+Condensed&family=Concert+One&family=Quicksand:wght@400;700&family=Sniglet&display=swap');

body {
    margin: 0;
}
:root {
/* change the values below to your chosen font(s) */
--heading-font: "Averia Sans Libre";
--paragraph-font: Quicksand, sans-serif;

/* these colors below should be chosen from among your palette colors above */
--headline-color-on-white: #05347E;  /* headlines on a white background */ 
--headline-color-on-color: white; /* headlines on a colored background */ 
--paragraph-color-on-white: #05347E; /* paragraph text on a white background */ 
--paragraph-color-on-color: white; /* paragraph text on a colored background */ 
--paragraph-background-color: #05347E;
--nav-link-color:  white;
--nav-background-color: #05347E;
--nav-hover-link-color: white;
--nav-hover-background-color: #CB4646;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

.colored {
    padding: 1em;
    text-align: left;
}

/* Home Page Nav Bar */
.logo {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.red {
    background-color: #CB4646;
}
.nav_bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--nav-background-color);
    margin: 0px 0 5px 0;
}
.nav_options {
    justify-self: center;
    color: white;
    padding: 20px;
    font-size: 2em;
    text-decoration: none;
    font-family: var(--heading-font);
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
/* .nav_bar a:link, nav a:visited {
    color: var(--nav-link-color);
}
.nav_bar a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
} */

/* First Aid Left Banner */
.first_aid {
    grid-column: 1/2;
    display: grid;
    justify-items: center;
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    /* margin: 5px 10px 0 0; */
}
.first_aid h2 {
    text-align: center;
    margin: 20px;
}
.epinephrine_images {
    display: flex;
}
.first_aid p {
    font-family: var(--paragraph-font);
    padding: 20px;
    margin: 0;
}
.first_aid h4 {
    background-color: #05347E;
    color: white;
    text-align: center;
    margin: 0;
}
#optional {
    padding: 10px;
}
li {
    font-family: var(--paragraph-font);
}
#other {
    font-weight: bold;
    padding: 0;
}
#optional_bullets {
    padding-right: 30px;
}

/* Home Page Content */
.about_me {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: auto 1fr;
}
h1 {
    text-align: center;
    margin: 0 0 20px 0;
}
.about_me p {
    font-family: var(--paragraph-font);
    font-size: 1.5em;
    margin: 0;
}

/* Footer */
/* round */
footer {
    background-color: #05347E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
footer h5 {
    color: white; 
}
#site_plan_link {
    text-decoration: none;
    color: white;
}
.socials {
    text-decoration: none;
    color: white;
    font-size: 3em;
}

/* Images */
/* First Aid */
.epinephrine {
    width: 150px;
    padding: 0 5px 0 5px;
}

/* Home Page Body */
#me {
    width: 310px;
    float: left;
    margin: 0 20px 0 0;
    border-radius: 10px;
}









/* The side navigation menu */
#first_aid {
    /* margin-top: 20%; */
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
/* The navigation menu links */
#first_aid a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
#close_button {
    grid-row: 1/2;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.about_me {
    transition: margin-left .5s;
    padding: 20px;
}

On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)
@media screen and (max-height: 450px) {
#first_aid {padding-top: 15px;}
#first_aid a {font-size: 18px;}
}